<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESC</th>
        <th>IMG</th>
        <th>ACTION</th>
      </tr>
    </thead>
    <tbody *ngIf="products && products.length">
      <tr *ngFor="let product of products; index as i">
        <td>{{i +1}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.desc}}</td>
        <td><img src="{{product.images}}" alt=""></td>
        <td>
          <button class="btn btn-primary" (click)="removeItem(product.id)">Xóa</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>