<div class="container">
  <h3>THEM SAN PHAM</h3>
  <form (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
      <label for="">Tên sản phẩm</label>
      <hr>
      <input type="text" class="form-control" [(ngModel)]="products.name" name="name" />
    </div>
    <div class="mb-3">
      <label for="">Gia sản phẩm</label>
      <hr>
      <input type="text" class="form-control" [(ngModel)]="products.price" name="price" />
    </div>
    {{products|json}}
    <button type="submit">Them</button>
  </form>
</div>